body {
 --background: rgba(0, 0, 0, 0.5);
 --main: rgba(162, 5, 224, 0.925);
 --main-dark: rgba(92, 1, 128, 0.925);
 --secondary: cyan;
 --secondary-dark: rgba(6, 161, 154, 0.925);
 --font-color: var(--secondary);
 --font-color-dark: black;
 --font-fmaily: "Lucida Console";
}
.home-screen {
 font-family: "Lucida Console";
 background: repeating-linear-gradient(
   65deg,
   rgba(10, 21, 27, 0.8) 0%,
   rgba(13, 25, 38, 0.8) 49%,
   rgba(5, 11, 18, 0.8) 99%
  )
  fixed !important;
 width: 100%;
 height: 100%;
}

.world-selection-container {
 left: calc(50% - 300px);
 width: 600px;
 height: calc(90% - 300px);
 overflow-y: scroll;
 overflow-x: hidden;
 background: rgba(0, 0, 0, 0);
 margin-left: auto;
 margin-right: auto;
}

.main-screen {
 position: absolute;
 top: 0;
 width: 100%;
 height: 100%;
}

.world-selection-section,
.world-selection {
 width: 100%;
 margin: 0;
 min-height: 100px;
 color: rgba(248, 245, 250, 0.8);
 display: block;
 padding: 5px;
}

.world-selection {
 background: rgba(112, 14, 177, 0.5);
 border-top: 1px solid rgba(127, 9, 206, 0.8);
 border-bottom: 1px solid rgba(127, 9, 206, 0.8);
 transition: 0.5s;
}
.world-selection:hover {
 background: rgba(162, 5, 224, 0.925);
 transition: 0.5s;
 cursor: pointer;
}
.world-selection-title {
 font-size: 20px;
 font-weight: bold;
}

.dve-logo {
 color: rgba(162, 5, 224, 0.925);

 margin-left: auto;
 margin-right: auto;
 text-align: center;
 font-size: 50px;
}

.dve-version {
 color: rgba(119, 7, 163, 0.925);
 text-align: center;
 font-size: 20px;
}
.graphics-level-title {
  text-align: center;
  font-size: 15px;
  color: rgba(162, 5, 224, 0.925);
}
.world-selection-section {
 background: rgba(79, 16, 121, 0.5);
 border-top: 1px solid rgba(84, 14, 131, 0.8);
 border-bottom: 1px solid rgba(78, 6, 126, 0.8);
}
.world-selection-section-title {
 font-size: 25px;
 font-weight: bold;
}

.logo-container {
 position: relative;
 width: 100%;
 height: 100px;
}
.logo-container svg {
 position: absolute;
 left: calc(50% - 50px);
 fill: rgba(162, 5, 224, 0.925);
 animation: spin 8s linear infinite;
}

p {
 margin: 0;
 padding: 0;
}
*::-webkit-scrollbar {
 width: 12px;
}

*::-webkit-scrollbar-track {
 background: rgba(95, 0, 133, 0.925);
}

*::-webkit-scrollbar-thumb {
 background-color: rgba(162, 5, 224, 0.925);
 border: 3px solid rgba(191, 30, 255, 0.925);
}

@keyframes spin {
 0% {
  transform: rotate3d(0, -1, 0, 0deg);
 }
 100% {
  transform: rotate3d(0, -1, 0, 360deg);
 }
}

.hform-optin-group {
 border: 1px solid var(--main);
 display: flex;
 margin-top: 10px;
 margin-bottom: 10px;
 max-width: 800px;
 min-width: 300px;
 margin-left: auto;
 margin-right: auto;
}
.hform-optin-group .form-option {
 border: 1px solid var(--main);
 width: 100%;
 margin-left: auto;
 margin-right: auto;
}
.form-option {
 border: 1px solid var(--main);
 color: var(--font-color);
 transition: 0.5s;
 text-align: center;
 padding: 0;
}
.form-option:hover {
 background-color: var(--main);
 color: var(--font-color-dark);
 cursor: pointer;
 transition: 0.5s;
}
.form-option.active {
 background-color: var(--main);
 color: var(--font-color-dark);
 transition: 0.5s;
}
