html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.render-canvas-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#render-canvas {
  width: 100%;
  height: auto;
  overflow: hidden;
  aspect-ratio: 16 / 9;
}






