
[submodule "packages/vlox"]
	path = packages/vlox
	url = https://github.com/Divine-Star-Software/divinevoxel-vlox.git
	branch = main
[submodule "packages/vlox-babylon"]
	path = packages/vlox-babylon
	url = https://github.com/Divine-Star-Software/divinevoxel-vlox-babylon.git
	branch = main
[submodule "games/vlox"]
	path = games/vlox
	url = https://github.com/Divine-Star-Software/dvegames-vlox.git
	branch = main
[submodule "games/vlox-tools"]
	path = games/vlox-tools
	url = https://github.com/Divine-Star-Software/dvegames-vlox-tools.git
	branch = main