html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  --top-bar-height: 32px;
  --top-bar-border-height: 1px;

  --primary: #1e2225;
  --primary-dark: #141818;
  --primary-bright: #1a6679;
  --primary-highlight: #41c1e0;
  --label-background: var(--primary-dark);
  --input-background: #0a272e;

  --font-color: #fff;
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 20px;
  --font-size-xlarge: 30px;

  --font-size-screen-title: 3vw;
  --font-size-game-title: 5vw;

  --font-size-form-label: 15px;
  --font-size-form-input: 15px;

  background-color: var(--primary);

  /*color: var(--font-color);*/
}
.render-canvas-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#inspector-host {
  position: absolute !important;
}

#main {
  touch-action: none;
  outline: none;
  display: inline;
  border: none;  user-select: none;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
