.screen {
 position: absolute;
 z-index: 1000000000000;
 background-color: rgba(0, 0, 0, 0.8);
 width: 100%;
 height: 100%;
 padding: 0;
 margin: 0;
 color: purple;
 user-select: none;
}

.screen.active {
 display: block;
}
.screen.inactive {
 display: none;
}

.voxel-list {
 overflow-y: scroll;
 overflow-x: hidden;
 height: 90%;
}
.voxel-node {
 display: grid;
 grid-template-columns: 150px auto;
 transition: 0.5s;
 width: 100%;
}
.voxel-node:hover {
 background: purple;
 color: black;
 transition: 0.5s;
 cursor: pointer;
}
.voxel-node.active {
 background: purple;
 color: black;
}
.voxel-node-title {
 font-weight: bold;
 font-size: 30px;
 text-align: left;
}
.voxel-node img {
 height: 150px;
 width: 150px;
 image-rendering: pixelated;
}
