body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#render-canvas-container {
  display: block;
  border: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  pointer-events: auto;
}

#render-canvas {
  touch-action: none;
  outline: none;
  display: inline;
  border: none;
  user-select: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

