/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e7f85;
  --ifm-color-primary-dark: #295278;
  --ifm-color-primary-darker: #272871;
  --ifm-color-primary-darkest: #24205d;
  --ifm-color-primary-light: #1cbaeb;
  --ifm-color-primary-lighter: #28e5f7;
  --ifm-color-primary-lightest: #4ce4ff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #2e7f85;
  --ifm-color-primary-dark: #295278;
  --ifm-color-primary-darker: #272871;
  --ifm-color-primary-darkest: #24205d;
  --ifm-color-primary-light: #1cbaeb;
  --ifm-color-primary-lighter: #28e5f7;
  --ifm-color-primary-lightest: #4ce4ff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
@keyframes spin {
  0% {
    transform: rotate3d(0, -1, 0, 0deg);
  }
  100% {
    transform: rotate3d(0, -1, 0, 360deg);
  }
}
.navbar__logo {
  animation: spin 8s linear infinite;
}