html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: black;
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

#render-canvas-container {
  display: block;
  border: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  pointer-events: auto;
}

#render-canvas {
  touch-action: none;
  outline: none;
  display: inline;
  border: none;
  user-select: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

.demo-title {
  text-align: center;
  color:    rgb(75, 3, 109);
}

.demo-container {
  background-color: rgb(61, 5, 87);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.demo-container:hover {
  cursor: pointer;
  background-color: rgb(106, 4, 153);
}

.demos {
  margin: auto;
  width: 80%;
}
